.todos{
    height: 40/5;
    width: 50%;
    border-radius: 1px solid black;
}

.icon {
    position: relative;
    display: inline-block;
  }

.icon-detail-todo {
    display: none;
    position: left;
    background-color:whitesmoke;

    height: auto;
    width: auto;
    padding-left: 30%;

    
  }

.icon:hover .icon-detail-todo{
    display: block;
  }

